{% extends "base.html" %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">О проекте</h1>
    <div class="bg-white p-4 rounded shadow-sm">
        <p>
            Добро пожаловать на платформу научных публикаций! Этот проект создан для упрощения поиска и анализа научных статей, обмена знаниями и продвижения научных исследований.
            Мы стремимся объединить исследователей, студентов и профессионалов в различных областях, предоставляя удобный и функциональный инструмент для работы с публикациями.
        </p>
        <h5 class="mt-4">Цели проекта</h5>
        <ul>
            <li>Систематизация научных публикаций и предоставление удобного доступа к ним.</li>
            <li>Создание платформы для сотрудничества исследователей и обмена идеями.</li>
            <li>Обеспечение фильтрации, сортировки и поиска публикаций по авторам, изданиям, ключевым словам и другим критериям.</li>
        </ul>


    </div>


</div>
{% endblock %}
