{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Контакты</h1>
    <div class="bg-white p-4 rounded shadow-sm">
        <p>
            Если у вас есть вопросы, предложения или вы хотите связаться с нами, вы можете воспользоваться следующими способами связи:
        </p>
        <h5 class="mt-4">Электронная почта</h5>
        <p>Вы можете отправить нам письмо на адрес: <a href="mailto:support@publicationplatform.com">support@publicationplatform.com</a></p>
        
        <h5 class="mt-4">Телефон</h5>
        <p>Свяжитесь с нами по телефону: <strong>+7 (800) 555-35-35</strong></p>
        
        
        <h5 class="mt-4">Адрес</h5>
        <p>г. Москва, ул. Ленина, д. 1, офис 101</p>
    </div>
</div>
{% endblock %}
