{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    {% if '/edit/' in request.path %}
        Редактирование публикации
    {% elif "/delete/" in request.path %}
        Удаление публикации
    {% else %}
        Добавление публикации
    {% endif %}
{% endblock %}
{% block content %}
    <main class="container mt-5" style="margin-bottom: 48px">
        <div class="col d-flex justify-content-center">
            <div class="card shadow" style="width: 60rem; border-radius: 10px;">
                <div class="create-card-header" style="border-radius: 10px 10px 0 0;">
                    <h4 class="m-0">
                        {% if '/edit/' in request.path %}
                            Редактирование публикации
                        {% elif '/delete/' in request.path %}
                            Удаление публикации
                        {% else %}
                            Добавление публикации
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body p-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if not '/delete/' in request.path %}
                            <div class="mb-3">
                                {% bootstrap_form form layout='horizontal' %}
                            </div>
                        {% else %}
                            <article class="mb-3">
                                <h3 class="text-primary">{{ form.instance.title }}</h3>
                                <p class="text-body">{{ form.instance.text|linebreaksbr }}</p>
                            </article>
                        {% endif %}
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-dark w-100" style="font-weight: 800">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
